@charset "ISO-8859-1";

.banner {
	background-image: url("../PNWBannerClouds2.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	
}

.banner-text {
	font-size: 140px;
	padding-left: 15%;
	color: white;
}

.border {
	border: 1px solid black;
}

.search {
	position: relative;
	top: 0;
}

.stripe {
	background-color: #0E3A6B;
}

.red-text {
	color: #CB310B;
}

.break {
	width: 80%;
	border: 1px solid gray;
}

.pnwLogo {
	width: 200px;
	height: 100px;
}

.pnwLogo-sm {
	width: 75px;
	height: 75px;
	
	border-radius: 50%;
}

.background-blue {
	background-color: #111224;
}

.bg-light-gray {
	background-color: #ECEDEE;
}

.btm-border-divider {
	border-bottom: 2px solid black;
}
