@charset "ISO-8859-1";

.container-sm{
	margin-top: 20px;
}

.form-label{
	font-size: 22px;
}

.logo{
	height: 200px;
	width: 200px;
}

.regForm{
	border-radius: 10px;
}

img{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
