@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form {
    height: 100%;
}


.square {
    display: text-align-center;
    height: 50px;
}

.seat {
    border-radius: 5px;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    background-color: #1d2336;

}
.aisle {
	text-align: center;
	margin: auto;
	padding: 9px 0px;
	font-size: 20px;
	font-weight: 600;
}

.nose {
    border-left:  3px solid black;
    border-right:  3px solid black;
    border-top: 1px solid black;
    height: 370px;
    width: 386px;
    border-radius: 50% 50% 46% 54% / 100% 100% 0% 0%;
    border-bottom: 50% solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
background-color: #FEEAD2;
}
.tail {
	position: relative;
    border-left:  3px solid black;
    border-right:  3px solid black;
    border-bottom: 1px solid black;
    height: 500px;
    width: 386px;
    border-radius: 46% 54% 40% 40% / 0% 0% 100% 100% ;
    border-bottom: 50% solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
background-color: #FEEAD2;
    z-index: 2;
}

.body-container {
    display: flex;
}

.plane {
    border-left:  3px solid black;
    border-right:  3px solid black;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 50px 50px 50px 40px 50px 50px 50px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-rows: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FEEAD2;
    
}

.left-wing {
    width: 800px;
    height: 1200px;
   	background-color: #0E3A6B;
    clip-path: polygon( 100% 38%, 100% 87%, 77% 87%, 0% 100%, 5% 86%);
    border: 1px solid black;
    
}

.right-wing {
    width: 800px;
    height: 1200px;
    	background-color: #0E3A6B;
    clip-path: polygon(95% 86%, 100% 100%, 23% 87%, 0 87%, 0% 38%);
    border: 1px solid black;
    
}

.vertical-stabilizer {
	height: 500px;
	width: 300px;
	position: relative;
	top: 200px;
	clip-path: polygon(40% 18%, 43% 0, 57% 0, 60% 18%, 52% 100%, 48% 100%);
	background-color: #CB310B;
	z-index: 3;
	border-radius: 50%;
}

.rear-left-wing {
	align-self: center;
	position: relative;
	bottom: 50px;
	left: 200px;
    width: 600px;
    height: 600px;
    	background-color: #0E3A6B;
    clip-path: polygon( 100% 38%, 100% 87%, 77% 87%, 0% 100%, 5% 86%);
    border: 1px solid black;
    
}

.rear-right-wing {
	align-self: center;
	position: relative;
	bottom: 50px;
	right: 200px;
    width: 600px;
    height: 600px;
    	background-color: #0E3A6B;
    clip-path: polygon(95% 86%, 100% 100%, 23% 87%, 0 87%, 0% 38%);
    border: 1px solid black;
    
}

.window {
    height: 50%;
    width: 80%;
    background-color: black;
    border-radius: 100% 100% 0 0;
    border-bottom: 50% solid black;
    z-index: 1;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.windowBottom {
    height: 50%;
    width: 360px;
    background-color: white;
    border-radius: 100% 100% 0 0;
    border-bottom: 50% solid black;
    z-index: 2;
background-color: #FEEAD2;
}


button {
    font-size: 30px;
    font-weight: bold;
	padding-bottom: 5px;
}

.seatIcon {
	width: 70%;
	height: 70%;
}

body{
	background-size: cover;
	padding-bottom: 400px;
}
